<header class="masthead header-image">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Welcome To Our</span></div>
            <div class="intro-heading text-uppercase"><span>daily Deals &amp; Coupons&nbsp;</span></div><a class="btn btn-warning p-3 pulse animated infinite btn-xl text-uppercase header-button" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">Join us!</a>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Services</h2>
                <h3 class="text-muted section-subheading">I've got a Best Services for you!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-certificate fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Best Deals</h4>
                <p class="text-muted">If you think that you need&nbsp;a <strong>Great Deal&nbsp;</strong>then visit Our Website.<br><br></p>
            </div>
            <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-eercast fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Offers &amp; Discounts<br></h4>
                <p class="text-muted">We are providing<strong> Exclusive Offers &amp; Discounts </strong>on what you want!&nbsp;</p>
            </div>
            <div class="col-md-4" data-bss-hover-animate="pulse"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-gittip fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Free Coupons</h4>
                <p class="text-muted">You can't find <strong>Free Coupons</strong> like we are Providing!</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-light" id="portfolio" style="padding: 96px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">our partner's</h2>
                <h3 class="text-muted section-subheading">❤❤Thanks to our Partner's❤❤</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="https://logodix.com/logo/233733.gif">
                </a>
                <div class="portfolio-caption">
                    <h4>Amazon</h4>
                    <p class="text-muted"><strong>Work hard.</strong>&nbsp;<strong>Have fun.</strong>&nbsp;<strong>Make history.</strong><br></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal2" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="https://cdn.dribbble.com/users/1980856/screenshots/4760116/comp_3.gif">
                </a>
                <div class="portfolio-caption" style="margin-top: 15px;">
                    <h4>Flipkart</h4>
                    <p class="text-muted"><strong>Ab Har Wish Hogi Poori</strong><br></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal3" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="https://cdn.dribbble.com/users/1873555/screenshots/11262329/media/64b6719e36e17eeedbb41eb47624a8ba.gif">
                </a>
                <div class="portfolio-caption">
                    <h4>Myntra</h4>
                    <p class="text-muted"><strong>India’s Largest Online Fashion Store</strong><br></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal4" data-bs-toggle="modal">
                    <div class="portfolio-hover" style="height: 186.665px;">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="https://dumynlq1n57zm.cloudfront.net/article/167/27bbbcc-phpU6MBaZ.gif">
                </a>
                <div class="portfolio-caption" style="margin-top: 116px;">
                    <h4>Ajio</h4>
                    <p class="text-muted"><strong>Doubt is out</strong><br></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal5" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="https://cdn-images-1.medium.com/max/184/1*OLtNR7kUtIKG7Ovj3TNMzQ@2x.jpeg" style="padding: 30px;">
                </a>
                <div class="portfolio-caption">
                    <h4>Zomato</h4>
                    <p class="text-muted"><strong>Every meal matters</strong><br></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal6" data-bs-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="https://c.tenor.com/DQrrnRs5fuwAAAAM/swiggy-pancakes.gif">
                </a>
                <div class="portfolio-caption">
                    <h4>Swiggy</h4>
                    <p class="text-muted"><strong>Ghar Ka Khaana, Saath Mein Thoda Swiggy!</strong><br></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" style="margin-bottom: -146px;">
    <header class="masthead" style="background: url(&quot;https://res.cloudinary.com/du8drysbe/image/upload/v1635357355/yellow_n0iquy.jpg&quot;);margin: 0px 0px 50px;">
        <div class="overlay"></div>
        <div class="container" data-bss-hover-animate="bounce" style="height: 400.149px;margin-bottom: -42px;">
            <div class="row" style="margin: -134px;">
                <div class="col-md-10 col-lg-8 mx-auto position-relative" style="margin-bottom: 50px;margin-top: 0px;">
                    <div class="site-heading" style="margin-top: 168px;">
                        <h1 data-bss-hover-animate="pulse" style="color: rgb(34, 34, 34);font-size: 59.6419px;">About Me</h1><span class="flash animated infinite subheading" style="color: rgb(0,0,0);font-weight: bold;font-size: 25px;">This is what I do</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="team-member"><img class="rounded-circle mx-auto" data-bss-hover-animate="pulse" src="https://res.cloudinary.com/du8drysbe/image/upload/v1635032256/passportsize_dar0gy.jpg" style="width: 151px;height: 184px;margin: -11px;">
                    <h4>Manish</h4>
                    <p class="text-muted flash animated infinite">Web Developer</p>
                    <p class="text-muted">Seeking a beginner role to enhance and explore my technical knowledge gained at Capgemini-Training in the last 2 months. I hold a B.Tech. in ECE course from Gokaraju Rangaraju Institute of Engineering and Technology college.<br>Looking for an opportunity where I can enhance my knowledge and from my Training I give my best to the organization.<br></p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a data-bss-hover-animate="bounce" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a data-bss-hover-animate="pulse" href="https://www.instagram.com/_g.manish_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a data-bss-hover-animate="pulse" href="https://www.linkedin.com/in/manish-gudupali/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" style="background-image: url('https://res.cloudinary.com/du8drysbe/image/upload/v1635357539/map-image_zhfj5m.png');margin-top: -100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Contact ME</h2>
                <h3 class="section-subheading" style="color: rgb(255, 255, 0);">Feel Free To Contact Me</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" name="contactForm" novalidate="novalidate" data-bss-recipient="8b73544894516b1a783ac556a2f3db1e" data-bss-subject="Daily Deals - Contact Form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3"><input class="form-control" type="text" id="name" placeholder="Your Name *" required=""><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                            <div class="form-group mb-3"><input class="form-control" type="email" id="email" placeholder="Your Email *" required=""><small class="form-text text-danger help-block lead"></small></div>
                            <div class="form-group mb-3"><input class="form-control" type="tel" placeholder="Your Phone *" required=""><small class="form-text text-danger help-block lead"></small></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3"><textarea class="form-control" id="message" placeholder="Your Message *" required=""></textarea><small class="form-text text-danger help-block lead"></small></div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div><button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">amazon</h2>
                            <p class="text-muted item-intro"><strong>Kya Nahi Milega! Amazon hai, Apna Dukaan</strong><br></p>
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image" src="https://static.businessworld.in/article/article_extra_large_image/1597056012_CNRvas_amazon_dkblue_noto_email_v2016_us_main_CB468775337_.png"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://www.adweek.com/wp-content/uploads/2019/07/back-school-amazon-CONTENT-2019.jpg" alt="Slide Image"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://timesofindia.indiatimes.com/photo/86699690.cms" alt="Slide Image"></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <p>Amazon, is an American electronic commerce and cloud computing company with headquarters in Seattle, Washington. It is the largest Internet-based retailer in the world by total sales and market capitalization.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Amazon Website</li>
                                <li><a href="https://www.amazon.in/" target="_blank"><button class="btn btn-primary" type="button" style="border-radius: 59px;">Amazon</button></a></li>
                            </ul><button class="btn btn-danger" type="button" data-bs-dismiss="modal" style="border-radius: 8px;"><i class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">flipkart</h2>
                            <p class="text-muted item-intro"><strong>If it’s trendy, it’s on Flipkart</strong><br></p>
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-2">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image" src="https://www.logotaglines.com/wp-content/uploads/2016/08/flipkart-new-logo.bmp"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://img.theweek.in/content/dam/week/news/biz-tech/images/2019/7/3/flipkart.jpg" alt="Slide Image"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://www.shopickr.com/wp-content/uploads/2016/04/flipkart-india-offers-zone-deals-of-the-day-best-discounts-offers-coupons-banner.jpg" alt="Slide Image"></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-2" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-2" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <p>Flipkart is an e-commerce company founded in 2007 by Sachin Bansal and Binny Bansal.&nbsp;<strong>This Indian e-commerce store has brought a revolution in the Indian e-retail industry</strong>. Youth and adults rely on the internet to buy stuff at affordable prices with amazing return policies and guarantee. One such e-commerce platform that is tremendously successful is&nbsp;<strong>Flipkart</strong>.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Flipkart Website<br></li>
                                <li><a target="_blank" href="https://www.flipkart.com/"><button class="btn btn-primary" type="button" style="border-radius: 59px;">Flipkart</button></a></li>
                            </ul><button class="btn btn-danger" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal3">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">myntra</h2>
                            <p class="text-muted item-intro">Make it creative, make it fun and the Myntra Brand Team will be listening.<br></p><img class="img-fluid d-block mx-auto" src="https://thumbs.gfycat.com/CommonDismalAntelopegroundsquirrel-size_restricted.gif">
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-3">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image" src="https://entrackr.com/wp-content/uploads/2017/12/myntra-image-3.jpg"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://i.ytimg.com/vi/2o2uy1VYxus/maxresdefault.jpg" alt="Slide Image"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://www.dealsshutter.com/uploads/social_images/stores/myntra-social-12-oct-1539335161.png" alt="Slide Image"></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-3" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-3" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-3" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <p>Someone says ‘Oh, that dress is too bold’ ‘Are you sure you’re the right size for this?’ ‘Maybe you should pick a colour that suits you’ or ‘Act your age and wear something else’, go ahead and do exactly what you please. When it comes to great style and personal expression, there should never be any regrets.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Myntra Website<br></li>
                                <li><a target="_blank" href="https://www.myntra.com/"><button class="btn btn-primary" type="button" style="border-radius: 59px;color: var(--bs-white);background: var(--bs-pink);">Myntra</button></a></li>
                            </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal4">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Ajio</h2>
                            <p class="text-muted item-intro">“<strong>Doubt is out”</strong><br></p>
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-4">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image" src="http://lh3.googleusercontent.com/B90GJVxEmuhLU-It_ZpQK4wlCU5O3uOYf3ipr93ZW0mNaJ0UnX1pqaSvXqFjI8hRkSd5lSGwAYGa9Yjz0z_EpU3zFfY=s750"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://yourfaceisstupid.com/wp-content/uploads/2020/04/ajio-fashion-sale.png" alt="Slide Image"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://assets.ajio.com/medias/sys_master/images/images/h64/haa/44962363244574/19102021-M-Unisex-topbanner-p1-dazzlingdiwalisale-5090.jpg" alt="Slide Image"></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-4" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-4" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-4" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-4" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-4" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <p>We bring you the trendiest and most exclusive brands from around the world to your wardrobe. Forget scouring the net for what’s hot globally, we’ve got you covered.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Ajio Website<br></li>
                                <li><a target="_blank" href="https://www.ajio.com/"><button class="btn btn-primary" type="button" style="border-radius: 59px;color: var(--bs-white);background: var(--bs-gray-dark);">Ajio</button></a></li>
                            </ul><button class="btn btn-danger" type="button" data-bs-dismiss="modal" style="background: var(--bs-red);border-color: var(--bs-red);"><i class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal5">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">zomato</h2>
                            <p class="text-muted item-intro"><strong>“every meal matters”</strong><br></p>
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-5">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image" src="https://www.indifi.com/blog/wp-content/uploads/2019/12/How-Zomato-Helps-Restaurants-Cut-Down-Operational-Costs.jpg"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://asset20.ckassets.com/blog/wp-content/uploads/sites/5/2019/02/Zomato-Snacks-Flat-50-OFF.jpg" alt="Slide Image"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://pbs.twimg.com/media/ERWrpeNUcAAY_LU.jpg" alt="Slide Image"></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-5" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-5" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-5" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-5" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-5" data-bs-slide-to="2"></li>
                                </ol>
                            </div><img class="img-fluid d-block mx-auto" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/967f19111202195.5ffdfc0e915cb.gif">
                            <p>Zomato is&nbsp;<strong>an Indian multinational restaurant aggregator and food delivery company</strong>&nbsp;founded by Deepinder Goyal and Pankaj Chaddah in 2008. Zomato provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities.<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Zomato Website<br></li>
                                <li><a target="_blank" href="https://www.zomato.com/"><button class="btn btn-primary" type="button" style="border-radius: 59px;color: var(--bs-white);background: rgb(255,18,3);">Zomato</button></a></li>
                            </ul><button class="btn btn-danger" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal6">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">swiggy</h2>
                            <p class="text-muted item-intro">&nbsp;'<strong>Swiggy Karo, Phir Jo Chahe Karo!</strong>&nbsp;'<br></p>
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-6">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" alt="Slide Image" src="https://asset20.ckassets.com/blog/wp-content/uploads/sites/5/2019/02/Swiggy-Google-Pay-100-Cashback-Offer.png"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://www.couponmoto.com/boards/wp-content/uploads/2019/02/swiggy-first-food-order.png" alt="Slide Image"></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://cdn.dribbble.com/users/2182473/screenshots/5786632/media/6c22f685a7d9b4ce18dfd514ced3357f.jpg?compress=1&amp;resize=1000x750" alt="Slide Image"></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-6" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-6" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#carousel-6" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-6" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-6" data-bs-slide-to="2"></li>
                                </ol>
                            </div><img class="img-fluid d-block mx-auto" src="https://miro.medium.com/max/1400/1*fE3JkGyzhWXlXApVnShDtw.gif">
                            <p>Swiggy is a&nbsp;<strong>hyper-local food delivery application</strong>&nbsp;founded by Sriharsha Majety, Nandan Reddy, and Rahul Jaimini in Bengaluru's neighborhood, Koramangala. Swiggy has been quite popular even in its early days, it witnessed an exemplary expansion and is carrying on its successful legacy till now!<br></p>
                            <ul class="list-unstyled">
                                <li>Click below button to navigate Swiggy Website<br></li>
                                <li><a target="_blank" href="https://www.swiggy.com/"><button class="btn" type="button" style="border-radius: 59px;color: var(--bs-white);background: rgb(255,138,0);">Swiggy</button></a></li>
                            </ul><button class="btn btn-danger" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close&nbsp;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>